
<h2>Activities Available</h2>

<ul>
  <% @activities.each do |activity| %>
  <form method="post" action="/activities/<%= activity.id %>">
    <input type="hidden" name="_method" value="put">

    <label for="activity_name">Activity:</label>
      <input id="activity_name" type="text" name="activity_name" value="<%= activity.activity_name %>"/>

    <label for="capacity">Capacity:</label>
      <input id="capacity" type="number" name="capacity" min="0" max="20" value="<%= activity.capacity %>"/>

    <input type='submit' value="save"/>
  </form>
<form action="/activities/<%= activity.id %>/delete" method="post">
 <input id="hidden" type="hidden" name="_method" value="delete">
 <input type="submit" value="delete">
</form>
  <% end %>
 </ul>

<h2>Add Activity</h2>

   <p class="btn--wrapper">
     <a class="btn btn--action" href="/activities/new">New Activity</a>
   </p>
