
<form method="post" action="/activities">

  <label for="activity">Activity:</label>
    <input id="activity" type="text" name="activity_name" />

  <label for="capacity">Capacity:</label>
    <input id="capacity" type="number" name="capacity" min="0" max="10"/>

  <input type='submit' value="save"/>
</form>
