<h1>Bookings</h1>

<!-- Loop round @bookings and create a list of all bookings -->
<ul>
  <li>Booking 1</li>
   <  <% @bookings.each do |booking| %>
  <li> <%= @bookings.name %>: <%= @bookings.activity %></li>
  <% end %>

  !-- PUT LOOP HERE -->
</ul>
