.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: black;
  cursor:pointer;

  font-family: 'Arial', bold;
}

.btn--book {
  background-color: red;
}

.btn--book:hover {
  background-color: yellow;
}

.btn--action:hover {
  background-color: pink;
}

.btn--action {
  background-color: red;
}

.btn--wrapper {
  margin: 20px 0px 30px 0px;
}
